@font-face{
		font-family:'CenturyGothic';
   src:url('../fonts/CenturyGothic.TTF');
}
@font-face{
   font-family:'Georgia';
   src:url('../fonts/Georgia.ttf');
}
p.about-title{
font-size:2.5em;
line-height: 1.2em;
margin-left: 30px;
width:80%;
margin-top: 65px;
margin-bottom: 65px;
font-family:Georgia;
}
#about-detail{
width:95%;
margin:0px auto;
font-weight: bold;
}

#about-detail .right-txt{

margin-bottom:30px;
}
#about-detail .first{
overflow:hidden;
}
#about-detail .first img{

width:30%;
float:left;
padding-right: 25px;
}
#about-detail .second img{

width:35%;
float:right;
padding-left: 25px;
}
#about-detail .third img{

width:31.5%;
float:left;
padding-right: 25px;
}
.right-txt p{
font-size: 18px;
margin-bottom: 11px;
font-family:Georgia;
}
img.women{
padding-right:25px;
width:36%;
float:left;
}
#about-detail .left-txt{

}
.left-txt p{
font-size: 18px;
font-family:Georgia;
margin-bottom: 11px;
}
img.young-women{
float: right;
width: 41%;
padding-left: 25px;
}
img.flower-women{
float:left;
width:41%;
padding-right: 25px;
}
#about-detail .right-txt-bottom{

}
.right-txt-bottom p{
font-size: 18px;
font-family:Georgia;
margin-bottom: 11px;
}
.page-node-type-article .node__content{
margin-top:0px !important;
}
.page-node-type-article .layout-main{
margin-top: 0px;
}
.page-node-type-article #block-celeri-content .content{


margin-top:0px;
}
@media screen and (max-width:768px){
#about-detail .first img{
width:100%;
padding:0px;
clear:both;
}
#about-detail .second img{
width:100%;
padding:0!important;
clear:both;
}
#about-detail .third img{
width:100%;
padding:0!important;
clear:both;
}
img.women{
width:100%;
clear:both;
padding:0;
}
#about-detail .right-txt{
width:100%;
clear:both;
padding-top: 10px;
}
#about-detail .left-txt{
width:100%;
clear:both;
padding-top: 10px;
}
img.young-women{
width:100%;
clear:both;
padding:0;
}
img.flower-women{
width:100%;
clear:both;
padding:0;
}
#about-detail .right-txt-bottom{
width:100%;
clear:both;
padding-top: 10px;
}
}
@media screen and (max-width:414px){
p.about-title{
font-size: 1.5em;
margin-top: 30px;
margin-bottom: 30px
}
.right-txt p,
.left-txt p,
.right-txt-bottom p{
font-size:12px;
}
}
@media screen and (max-width:375px){
p.about-title{
font-size: 1.5em;
margin-top: 30px;
margin-bottom: 30px
}
.right-txt p,
.left-txt p,
.right-txt-bottom p{
font-size:12px;
}
}
@media screen and (max-width:320px){
p.about-title{
font-size: 1.5em;
margin-top: 30px;
margin-bottom: 30px
}
.right-txt p,
.left-txt p,
.right-txt-bottom p{
font-size:12px;
}
}
